# Step 1: Load All Files

In [1]:
import zipfile
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
print(sm.__version__)


# Set the aesthetic style of the plots
sns.set_style("whitegrid")

# Specify the path to the downloaded file and the destination directory
zip_file_path = r'C:\Users\khaie\Desktop\2022 Russia Ukraine War\2022-ukraine-russian-war.zip'
destination_directory = 'path/to/ukraine_russian_war_data/'

# Unzip the file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(destination_directory)

print("Files unzipped successfully")

0.14.4
Files unzipped successfully

### Loading the 3 files

In [2]:
# Load the personnel losses data
personnel_data = pd.read_csv(r'C:\Users\khaie\Desktop\2022 Russia Ukraine War\russia_losses_personnel.csv')

# Load the equipment losses data
equipment_data = pd.read_csv(r'C:\Users\khaie\Desktop\2022 Russia Ukraine War\russia_losses_equipment.csv')

# Load the equipment correction data
equipment_correction_data = pd.read_csv(r'C:\Users\khaie\Desktop\2022 Russia Ukraine War\russia_losses_equipment_correction.csv')

# Display the first few records of each DataFrame
print("Personnel Data")
print(personnel_data.head())
print("\nEquipment Data")
print(equipment_data.head())
print("\nEquipment Correction Data")
print(equipment_correction_data.head())

Personnel Data
         date   day  personnel personnel*  POW
0  2025-02-16  1089     858390      about  NaN
1  2025-02-15  1088     856660      about  NaN
2  2025-02-14  1087     855480      about  NaN
3  2025-02-13  1086     854280      about  NaN
4  2025-02-12  1085     853030      about  NaN

Equipment Data
         date   day  aircraft  helicopter   tank    APC  field artillery  \
0  2025-02-16  1089       370         331  10073  21011            23185
1  2025-02-15  1088       370         331  10068  20927            23174
2  2025-02-14  1087       370         331  10057  20910            23115
3  2025-02-13  1086       370         331  10040  20894            23034
4  2025-02-12  1085       370         331  10023  20871            22976

    MRL  military auto  fuel tank  drone  naval ship  anti-aircraft warfare  \
0  1283            NaN        NaN  25377          28                   1067
1  1283            NaN        NaN  25341          28                   1067
2  1282            NaN        NaN  25224          28                   1066
3  1278            NaN        NaN  25072          28                   1063
4  1276            NaN        NaN  24919          28                   1061

   special equipment  mobile SRBM system greatest losses direction  \
0             3749.0                 NaN                       NaN
1             3747.0                 NaN                       NaN
2             3745.0                 NaN                       NaN
3             3744.0                 NaN                       NaN
4             3742.0                 NaN                       NaN

   vehicles and fuel tanks  cruise missiles  submarines
0                  37456.0           3063.0         1.0
1                  37379.0           3063.0         1.0
2                  37252.0           3063.0         1.0
3                  37096.0           3063.0         1.0
4                  36928.0           3057.0         1.0

Equipment Correction Data
         date  day  aircraft  helicopter  tank  APC  field artillery  MRL  \
0  2022-10-13  231         0           0     0  -25               32    0
1  2023-05-27  458         3           2    -5    7                8    2
2  2023-10-03  587        -1           0     5    0                0    0
3  2024-03-13  749         0           0     0    0                0    0
4  2024-05-05  802         0           0     0    5               43    1

   drone  naval ship  submarines  anti-aircraft warfare  special equipment  \
0     20           1           0                      0                  0
1     49           0           0                      0                  0
2     -1           0           0                      0                  0
3     -1           0           0                      0                  0
4      0           0           0                      0                 -3

   vehicles and fuel tanks  cruise missiles
0                        0                0
1                       11               31
2                        0                0
3                        0               -1
4                       44               19

# Step 2: Initial Inspection

### 2.1 Personnel Data

In [3]:
# Display basic information about each dataset
print(personnel_data.info())
print(equipment_data.info())
print(equipment_correction_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088 entries, 0 to 1087
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1088 non-null   object
 1   day         1088 non-null   int64
 2   personnel   1088 non-null   int64
 3   personnel*  1088 non-null   object
 4   POW         62 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 42.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088 entries, 0 to 1087
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       1088 non-null   object
 1   day                        1088 non-null   int64
 2   aircraft                   1088 non-null   int64
 3   helicopter                 1088 non-null   int64
 4   tank                       1088 non-null   int64
 5   APC                        1088 non-null   int64
 6   field artillery            1088 non-null   int64
 7   MRL                        1088 non-null   int64
 8   military auto              65 non-null     float64
 9   fuel tank                  65 non-null     float64
 10  drone                      1088 non-null   int64
 11  naval ship                 1088 non-null   int64
 12  anti-aircraft warfare      1088 non-null   int64
 13  special equipment          1069 non-null   float64
 14  mobile SRBM system         36 non-null     float64
 15  greatest losses direction  203 non-null    object
 16  vehicles and fuel tanks    1023 non-null   float64
 17  cruise missiles            1023 non-null   float64
 18  submarines                 522 non-null    float64
dtypes: float64(7), int64(10), object(2)
memory usage: 161.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     22 non-null     object
 1   day                      22 non-null     int64
 2   aircraft                 22 non-null     int64
 3   helicopter               22 non-null     int64
 4   tank                     22 non-null     int64
 5   APC                      22 non-null     int64
 6   field artillery          22 non-null     int64
 7   MRL                      22 non-null     int64
 8   drone                    22 non-null     int64
 9   naval ship               22 non-null     int64
 10  submarines               22 non-null     int64
 11  anti-aircraft warfare    22 non-null     int64
 12  special equipment        22 non-null     int64
 13  vehicles and fuel tanks  22 non-null     int64
 14  cruise missiles          22 non-null     int64
dtypes: int64(14), object(1)
memory usage: 2.7+ KB
None

### 2.2 checking for missing values

In [4]:
# Check for missing values in each dataset
print(personnel_data.isnull().sum())
print(equipment_data.isnull().sum())
print(equipment_correction_data.isnull().sum())

date             0
day              0
personnel        0
personnel*       0
POW           1026
dtype: int64
date                            0
day                             0
aircraft                        0
helicopter                      0
tank                            0
APC                             0
field artillery                 0
MRL                             0
military auto                1023
fuel tank                    1023
drone                           0
naval ship                      0
anti-aircraft warfare           0
special equipment              19
mobile SRBM system           1052
greatest losses direction     885
vehicles and fuel tanks        65
cruise missiles                65
submarines                    566
dtype: int64
date                       0
day                        0
aircraft                   0
helicopter                 0
tank                       0
APC                        0
field artillery            0
MRL                        0
drone                      0
naval ship                 0
submarines                 0
anti-aircraft warfare      0
special equipment          0
vehicles and fuel tanks    0
cruise missiles            0
dtype: int64

### 2.3 Statistics Summary

In [5]:
# Display summary statistics for each dataset
print(personnel_data.describe())
print(equipment_data.describe())
print(equipment_correction_data.describe())

               day      personnel         POW
count  1088.000000    1088.000000   62.000000
mean    545.500000  311275.923713  386.387097
std     314.222851  245252.298974  131.440363
min       2.000000    2800.000000    0.000000
25%     273.750000   85642.500000  389.000000
50%     545.500000  258580.000000  421.000000
75%     817.250000  494035.000000  474.500000
max    1089.000000  858390.000000  496.000000
               day     aircraft   helicopter          tank           APC  \
count  1088.000000  1088.000000  1088.000000   1088.000000   1088.000000
mean    545.500000   301.499081   281.008272   5014.780331   9932.453125
std     314.222851    67.468334    64.671322   2818.251147   5505.397746
min       2.000000    10.000000     7.000000     80.000000    516.000000
25%     273.750000   278.000000   261.000000   2897.750000   5835.750000
50%     545.500000   315.000000   316.000000   4367.500000   8482.000000
75%     817.250000   354.000000   326.000000   7593.750000  14673.500000
max    1089.000000   370.000000   331.000000  10073.000000  21011.000000

       field artillery          MRL  military auto  fuel tank         drone  \
count      1088.000000  1088.000000      65.000000  65.000000   1088.000000
mean       7808.568934   724.003676    1047.507692  69.323077   6696.410846
std        7068.184307   378.045148     466.162060   7.545917   6600.888503
min          49.000000     4.000000     100.000000  60.000000      0.000000
25%        1888.500000   395.000000     600.000000  60.000000   1544.500000
50%        5306.500000   721.500000    1178.000000  73.000000   4318.000000
75%       12747.500000  1076.250000    1437.000000  76.000000  10249.500000
max       23185.000000  1283.000000    1701.000000  76.000000  25377.000000

        naval ship  anti-aircraft warfare  special equipment  \
count  1088.000000            1088.000000        1069.000000
mean     20.190257             504.265625        1263.631431
std       6.341378             330.773608        1251.438332
min       2.000000               0.000000          10.000000
25%      16.000000             209.000000         164.000000
50%      18.000000             491.000000         831.000000
75%      27.000000             808.000000        2104.000000
max      28.000000            1067.000000        3749.000000

       mobile SRBM system  vehicles and fuel tanks  cruise missiles  \
count           36.000000              1023.000000      1023.000000
mean             3.944444             12321.590420      1466.340176
std              0.333333              9582.204916       907.373034
min              2.000000              1796.000000        84.000000
25%              4.000000              4826.000000       723.000000
50%              4.000000              8734.000000      1518.000000
75%              4.000000             18328.500000      2270.000000
max              4.000000             37456.000000      3063.000000

       submarines
count       522.0
mean          1.0
std           0.0
min           1.0
25%           1.0
50%           1.0
75%           1.0
max           1.0
               day   aircraft  helicopter       tank        APC  \
count    22.000000  22.000000   22.000000  22.000000  22.000000
mean    847.181818   0.181818    0.090909   0.000000  -0.409091
std     195.601547   0.852803    0.426401   1.543033   5.819991
min     231.000000  -1.000000    0.000000  -5.000000 -25.000000
25%     823.000000   0.000000    0.000000   0.000000   0.000000
50%     909.000000   0.000000    0.000000   0.000000   0.000000
75%     957.500000   0.000000    0.000000   0.000000   0.000000
max    1049.000000   3.000000    2.000000   5.000000   7.000000

       field artillery        MRL      drone  naval ship  submarines  \
count        22.000000  22.000000  22.000000   22.000000        22.0
mean          3.772727  -0.045455   4.727273    0.045455         0.0
std          11.177920   0.998917  12.581853    0.213201         0.0
min           0.000000  -4.000000  -5.000000    0.000000         0.0
25%           0.000000   0.000000   0.000000    0.000000         0.0
50%           0.000000   0.000000   0.000000    0.000000         0.0
75%           0.000000   0.000000   1.000000    0.000000         0.0
max          43.000000   2.000000  49.000000    1.000000         0.0

       anti-aircraft warfare  special equipment  vehicles and fuel tanks  \
count              22.000000          22.000000                22.000000
mean                0.545455          -4.000000                 7.363636
std                 2.789901          18.102881                20.509105
min                -1.000000         -85.000000                 0.000000
25%                 0.000000           0.000000                 0.000000
50%                 0.000000           0.000000                 0.000000
75%                 0.000000           0.000000                 0.000000
max                13.000000           0.000000                87.000000

       cruise missiles
count        22.000000
mean          7.181818
std          17.985805
min          -2.000000
25%           0.000000
50%           0.500000
75%           5.250000
max          80.000000

# Step 3: Clean and Merge Data

### 3.1 Personnel Data Cleanup

In [6]:
# Convert the 'date' column to datetime
personnel_data['date'] = pd.to_datetime(personnel_data['date'])

# Ensure numeric columns are of the correct type
numeric_columns = ['personnel']
for column in numeric_columns:
    personnel_data[column] = pd.to_numeric(personnel_data[column], errors='coerce')

# Handle missing values
personnel_data.fillna(0, inplace=True)

# Sort the data by date
personnel_data.sort_values(by='date', inplace=True)

# Calculate daily personnel changes
personnel_data['daily_personnel_change'] = personnel_data['personnel'].diff().fillna(personnel_data['personnel']).astype(int)

# Display the updated DataFrame
print(personnel_data.head())

           date  day  personnel personnel*    POW  daily_personnel_change
1087 2022-02-25    2       2800      about    0.0                    2800
1086 2022-02-26    3       4300      about    0.0                    1500
1085 2022-02-27    4       4500      about    0.0                     200
1084 2022-02-28    5       5300      about    0.0                     800
1083 2022-03-01    6       5710      about  200.0                     410

### 3.2 Equipment Data Cleanup

In [7]:
# Convert the 'date' column to datetime
equipment_data['date'] = pd.to_datetime(equipment_data['date'])

# Ensure numeric columns are of the correct type
numeric_columns = ['aircraft', 'helicopter', 'tank', 'APC', 'field artillery', 'MRL', 'military auto', 'fuel tank']
for column in numeric_columns:
    # Convert column to string type before using .str accessor
    equipment_data[column] = equipment_data[column].astype(str).str.replace(',', '')
    equipment_data[column] = pd.to_numeric(equipment_data[column], errors='coerce')

# Handle missing values
equipment_data.fillna(0, inplace=True)

# Sort the data by date
equipment_data.sort_values(by='date', inplace=True)

# Calculate daily changes for each type of equipment
for column in numeric_columns:
    equipment_data[f'daily_{column}_change'] = equipment_data[column].diff().fillna(equipment_data[column]).astype(int)

# Display the updated DataFrame
print(equipment_data.head())

           date  day  aircraft  helicopter  tank  APC  field artillery  MRL  \
1087 2022-02-25    2        10           7    80  516               49    4
1086 2022-02-26    3        27          26   146  706               49    4
1085 2022-02-27    4        27          26   150  706               50    4
1084 2022-02-28    5        29          29   150  816               74   21
1083 2022-03-01    6        29          29   198  846               77   24

      military auto  fuel tank  ...  cruise missiles  submarines  \
1087          100.0       60.0  ...              0.0         0.0
1086          130.0       60.0  ...              0.0         0.0
1085          130.0       60.0  ...              0.0         0.0
1084          291.0       60.0  ...              0.0         0.0
1083          305.0       60.0  ...              0.0         0.0

      daily_aircraft_change  daily_helicopter_change  daily_tank_change  \
1087                     10                        7                 80
1086                     17                       19                 66
1085                      0                        0                  4
1084                      2                        3                  0
1083                      0                        0                 48

     daily_APC_change  daily_field artillery_change  daily_MRL_change  \
1087              516                            49                 4
1086              190                             0                 0
1085                0                             1                 0
1084              110                            24                17
1083               30                             3                 3

      daily_military auto_change  daily_fuel tank_change
1087                         100                      60
1086                          30                       0
1085                           0                       0
1084                         161                       0
1083                          14                       0

[5 rows x 27 columns]

### 3.3 Merging Equipment Correction Data

In [8]:
# Apply corrections from the equipment correction data
equipment_data.update(equipment_correction_data)

# Verify the corrections
print(equipment_data.head())

           date  day  aircraft  helicopter  tank  APC  field artillery  MRL  \
1087 2022-02-25    2        10           7    80  516               49    4
1086 2022-02-26    3        27          26   146  706               49    4
1085 2022-02-27    4        27          26   150  706               50    4
1084 2022-02-28    5        29          29   150  816               74   21
1083 2022-03-01    6        29          29   198  846               77   24

      military auto  fuel tank  ...  cruise missiles  submarines  \
1087          100.0       60.0  ...              0.0         0.0
1086          130.0       60.0  ...              0.0         0.0
1085          130.0       60.0  ...              0.0         0.0
1084          291.0       60.0  ...              0.0         0.0
1083          305.0       60.0  ...              0.0         0.0

      daily_aircraft_change  daily_helicopter_change  daily_tank_change  \
1087                     10                        7                 80
1086                     17                       19                 66
1085                      0                        0                  4
1084                      2                        3                  0
1083                      0                        0                 48

     daily_APC_change  daily_field artillery_change  daily_MRL_change  \
1087              516                            49                 4
1086              190                             0                 0
1085                0                             1                 0
1084              110                            24                17
1083               30                             3                 3

      daily_military auto_change  daily_fuel tank_change
1087                         100                      60
1086                          30                       0
1085                           0                       0
1084                         161                       0
1083                          14                       0

[5 rows x 27 columns]

# 4. Numbers of Columns for Pers. & Equips. 32

### 4.1 Numbers of Columns

In [9]:
# Number of columns in personnel_data
num_columns_personnel = len(personnel_data.columns)
print(f"Number of columns in personnel_data: {num_columns_personnel}")

# Number of columns in equipment_data
num_columns_equipment = len(equipment_data.columns)
print(f"Number of columns in equipment_data: {num_columns_equipment}")

Number of columns in personnel_data: 6
Number of columns in equipment_data: 27

### 4.2 List of Colunms

In [10]:
from IPython.display import display, HTML

# Create a DataFrame for personnel columns
personnel_columns_df = pd.DataFrame(personnel_data.columns, columns=['Personnel Data Columns'])

# Create a DataFrame for equipment columns
equipment_columns_df = pd.DataFrame(equipment_data.columns, columns=['Equipment Data Columns'])

# Display the DataFrames side by side
display(HTML(personnel_columns_df.to_html(index=False)))
display(HTML(equipment_columns_df.to_html(index=False)))

# 5. Merge All DataFrames

### 5.1 The merge

In [11]:
# Ensure the 'date' column is of datetime type in both DataFrames
personnel_data['date'] = pd.to_datetime(personnel_data['date'])
equipment_data['date'] = pd.to_datetime(equipment_data['date'])

# Merge personnel and equipment data
merged_data = pd.merge(personnel_data, equipment_data, on='date', how='outer')

# Display the merged DataFrame
print(merged_data.head())

        date  day_x  personnel personnel*    POW  daily_personnel_change  \
0 2022-02-25      2       2800      about    0.0                    2800
1 2022-02-26      3       4300      about    0.0                    1500
2 2022-02-27      4       4500      about    0.0                     200
3 2022-02-28      5       5300      about    0.0                     800
4 2022-03-01      6       5710      about  200.0                     410

   day_y  aircraft  helicopter   tank  ...  cruise missiles  submarines  \
0    2.0      10.0         7.0   80.0  ...              0.0         0.0
1    3.0      27.0        26.0  146.0  ...              0.0         0.0
2    4.0      27.0        26.0  150.0  ...              0.0         0.0
3    5.0      29.0        29.0  150.0  ...              0.0         0.0
4    6.0      29.0        29.0  198.0  ...              0.0         0.0

   daily_aircraft_change  daily_helicopter_change  daily_tank_change  \
0                   10.0                      7.0               80.0
1                   17.0                     19.0               66.0
2                    0.0                      0.0                4.0
3                    2.0                      3.0                0.0
4                    0.0                      0.0               48.0

   daily_APC_change  daily_field artillery_change  daily_MRL_change  \
0             516.0                          49.0               4.0
1             190.0                           0.0               0.0
2               0.0                           1.0               0.0
3             110.0                          24.0              17.0
4              30.0                           3.0               3.0

   daily_military auto_change  daily_fuel tank_change
0                       100.0                    60.0
1                        30.0                     0.0
2                         0.0                     0.0
3                       161.0                     0.0
4                        14.0                     0.0

[5 rows x 32 columns]

### 5.2 Total Nr.s of Columns after Merge

In [12]:
total_columns_after_merge = len(merged_data.columns)
print(f"Total number of columns after merge: {total_columns_after_merge}")

Total number of columns after merge: 32

### 5.3 List of Merged columns (32)

In [13]:
# Generate more informative columns
merged_data['week'] = merged_data['date'].dt.isocalendar().week
merged_data['month'] = merged_data['date'].dt.month
merged_data['year'] = merged_data['date'].dt.year
merged_data['day_of_week'] = merged_data['date'].dt.day_name()

# Calculate cumulative sums and rolling averages for daily changes
for column in numeric_columns:
    merged_data[f'cumulative_{column}_change'] = merged_data[f'daily_{column}_change'].cumsum()
    merged_data[f'7_day_rolling_avg_{column}_change'] = merged_data[f'daily_{column}_change'].rolling(window=7).mean()
    merged_data[f'30_day_rolling_avg_{column}_change'] = merged_data[f'daily_{column}_change'].rolling(window=30).mean()

# Display the updated DataFrame
print(merged_data.head())

# New columns generated:
# 1. 'week' - ISO calendar week number
# 2. 'month' - Month number
# 3. 'year' - Year number
# 4. 'day_of_week' - Day name of the week
# 5. 'cumulative_<column>_change' - Cumulative sum of daily changes for each numeric column
# 6. '7_day_rolling_avg_<column>_change' - 7-day rolling average of daily changes
# 7. '30_day_rolling_avg_<column>_change' - 30-day rolling average of daily changes

        date  day_x  personnel personnel*    POW  daily_personnel_change  \
0 2022-02-25      2       2800      about    0.0                    2800
1 2022-02-26      3       4300      about    0.0                    1500
2 2022-02-27      4       4500      about    0.0                     200
3 2022-02-28      5       5300      about    0.0                     800
4 2022-03-01      6       5710      about  200.0                     410

   day_y  aircraft  helicopter   tank  ...  \
0    2.0      10.0         7.0   80.0  ...
1    3.0      27.0        26.0  146.0  ...
2    4.0      27.0        26.0  150.0  ...
3    5.0      29.0        29.0  150.0  ...
4    6.0      29.0        29.0  198.0  ...

   30_day_rolling_avg_field artillery_change  cumulative_MRL_change  \
0                                        NaN                    4.0
1                                        NaN                    4.0
2                                        NaN                    4.0
3                                        NaN                   21.0
4                                        NaN                   24.0

   7_day_rolling_avg_MRL_change  30_day_rolling_avg_MRL_change  \
0                           NaN                            NaN
1                           NaN                            NaN
2                           NaN                            NaN
3                           NaN                            NaN
4                           NaN                            NaN

   cumulative_military auto_change  7_day_rolling_avg_military auto_change  \
0                            100.0                                     NaN
1                            130.0                                     NaN
2                            130.0                                     NaN
3                            291.0                                     NaN
4                            305.0                                     NaN

   30_day_rolling_avg_military auto_change  cumulative_fuel tank_change  \
0                                      NaN                         60.0
1                                      NaN                         60.0
2                                      NaN                         60.0
3                                      NaN                         60.0
4                                      NaN                         60.0

   7_day_rolling_avg_fuel tank_change  30_day_rolling_avg_fuel tank_change
0                                 NaN                                  NaN
1                                 NaN                                  NaN
2                                 NaN                                  NaN
3                                 NaN                                  NaN
4                                 NaN                                  NaN

[5 rows x 60 columns]

# 6. Step 5: Generate Additional Columns

### 6.1 Generating Additional columns

In [14]:
# Generate more informative columns
merged_data['week'] = merged_data['date'].dt.isocalendar().week
merged_data['month'] = merged_data['date'].dt.month
merged_data['year'] = merged_data['date'].dt.year
merged_data['day_of_week'] = merged_data['date'].dt.day_name()

# Calculate cumulative sums and rolling averages for daily changes
for column in numeric_columns:
    merged_data[f'cumulative_{column}_change'] = merged_data[f'daily_{column}_change'].cumsum()
    merged_data[f'7_day_rolling_avg_{column}_change'] = merged_data[f'daily_{column}_change'].rolling(window=7).mean()
    merged_data[f'30_day_rolling_avg_{column}_change'] = merged_data[f'daily_{column}_change'].rolling(window=30).mean()

# Display the updated DataFrame
print(merged_data.head())

        date  day_x  personnel personnel*    POW  daily_personnel_change  \
0 2022-02-25      2       2800      about    0.0                    2800
1 2022-02-26      3       4300      about    0.0                    1500
2 2022-02-27      4       4500      about    0.0                     200
3 2022-02-28      5       5300      about    0.0                     800
4 2022-03-01      6       5710      about  200.0                     410

   day_y  aircraft  helicopter   tank  ...  \
0    2.0      10.0         7.0   80.0  ...
1    3.0      27.0        26.0  146.0  ...
2    4.0      27.0        26.0  150.0  ...
3    5.0      29.0        29.0  150.0  ...
4    6.0      29.0        29.0  198.0  ...

   30_day_rolling_avg_field artillery_change  cumulative_MRL_change  \
0                                        NaN                    4.0
1                                        NaN                    4.0
2                                        NaN                    4.0
3                                        NaN                   21.0
4                                        NaN                   24.0

   7_day_rolling_avg_MRL_change  30_day_rolling_avg_MRL_change  \
0                           NaN                            NaN
1                           NaN                            NaN
2                           NaN                            NaN
3                           NaN                            NaN
4                           NaN                            NaN

   cumulative_military auto_change  7_day_rolling_avg_military auto_change  \
0                            100.0                                     NaN
1                            130.0                                     NaN
2                            130.0                                     NaN
3                            291.0                                     NaN
4                            305.0                                     NaN

   30_day_rolling_avg_military auto_change  cumulative_fuel tank_change  \
0                                      NaN                         60.0
1                                      NaN                         60.0
2                                      NaN                         60.0
3                                      NaN                         60.0
4                                      NaN                         60.0

   7_day_rolling_avg_fuel tank_change  30_day_rolling_avg_fuel tank_change
0                                 NaN                                  NaN
1                                 NaN                                  NaN
2                                 NaN                                  NaN
3                                 NaN                                  NaN
4                                 NaN                                  NaN

[5 rows x 60 columns]

### 6.2 Total of all merged columns (60)

In [15]:
total_columns_all = len(merged_data.columns)
print(f"Total number of all columns: {total_columns_all}")

Total number of all columns: 60

### 6.3 List of Merged columns (1-60)

In [16]:
# Create a DataFrame for the columns with their respective numbers
columns_df = pd.DataFrame({
    'Column Number': range(1, len(merged_data.columns) + 1),
    'Column Name': merged_data.columns
})

# Display the DataFrame
columns_df

    Column Number                                Column Name
0               1                                       date
1               2                                      day_x
2               3                                  personnel
3               4                                 personnel*
4               5                                        POW
5               6                     daily_personnel_change
6               7                                      day_y
7               8                                   aircraft
8               9                                 helicopter
9              10                                       tank
10             11                                        APC
11             12                            field artillery
12             13                                        MRL
13             14                              military auto
14             15                                  fuel tank
15             16                                      drone
16             17                                 naval ship
17             18                      anti-aircraft warfare
18             19                          special equipment
19             20                         mobile SRBM system
20             21                  greatest losses direction
21             22                    vehicles and fuel tanks
22             23                            cruise missiles
23             24                                 submarines
24             25                      daily_aircraft_change
25             26                    daily_helicopter_change
26             27                          daily_tank_change
27             28                           daily_APC_change
28             29               daily_field artillery_change
29             30                           daily_MRL_change
30             31                 daily_military auto_change
31             32                     daily_fuel tank_change
32             33                                       week
33             34                                      month
34             35                                       year
35             36                                day_of_week
36             37                 cumulative_aircraft_change
37             38          7_day_rolling_avg_aircraft_change
38             39         30_day_rolling_avg_aircraft_change
39             40               cumulative_helicopter_change
40             41        7_day_rolling_avg_helicopter_change
41             42       30_day_rolling_avg_helicopter_change
42             43                     cumulative_tank_change
43             44              7_day_rolling_avg_tank_change
44             45             30_day_rolling_avg_tank_change
45             46                      cumulative_APC_change
46             47               7_day_rolling_avg_APC_change
47             48              30_day_rolling_avg_APC_change
48             49          cumulative_field artillery_change
49             50   7_day_rolling_avg_field artillery_change
50             51  30_day_rolling_avg_field artillery_change
51             52                      cumulative_MRL_change
52             53               7_day_rolling_avg_MRL_change
53             54              30_day_rolling_avg_MRL_change
54             55            cumulative_military auto_change
55             56     7_day_rolling_avg_military auto_change
56             57    30_day_rolling_avg_military auto_change
57             58                cumulative_fuel tank_change
58             59         7_day_rolling_avg_fuel tank_change
59             60        30_day_rolling_avg_fuel tank_change

In [17]:
# Generate more informative columns
merged_data['week'] = merged_data['date'].dt.isocalendar().week
merged_data['month'] = merged_data['date'].dt.month
merged_data['year'] = merged_data['date'].dt.year
merged_data['day_of_week'] = merged_data['date'].dt.day_name()

# Calculate cumulative sums and rolling averages for daily changes
for column in numeric_columns:
    merged_data[f'cumulative_{column}_change'] = merged_data[f'daily_{column}_change'].cumsum()
    merged_data[f'7_day_rolling_avg_{column}_change'] = merged_data[f'daily_{column}_change'].rolling(window=7).mean()
    merged_data[f'30_day_rolling_avg_{column}_change'] = merged_data[f'daily_{column}_change'].rolling(window=30).mean()

# Display the updated DataFrame
print(merged_data.head())

# New columns generated:
# 1. 'week' - ISO calendar week number
# 2. 'month' - Month number
# 3. 'year' - Year number
# 4. 'day_of_week' - Day name of the week
# 5. 'cumulative_<column>_change' - Cumulative sum of daily changes for each numeric column
# 6. '7_day_rolling_avg_<column>_change' - 7-day rolling average of daily changes
# 7. '30_day_rolling_avg_<column>_change' - 30-day rolling average of daily changes

        date  day_x  personnel personnel*    POW  daily_personnel_change  \
0 2022-02-25      2       2800      about    0.0                    2800
1 2022-02-26      3       4300      about    0.0                    1500
2 2022-02-27      4       4500      about    0.0                     200
3 2022-02-28      5       5300      about    0.0                     800
4 2022-03-01      6       5710      about  200.0                     410

   day_y  aircraft  helicopter   tank  ...  \
0    2.0      10.0         7.0   80.0  ...
1    3.0      27.0        26.0  146.0  ...
2    4.0      27.0        26.0  150.0  ...
3    5.0      29.0        29.0  150.0  ...
4    6.0      29.0        29.0  198.0  ...

   30_day_rolling_avg_field artillery_change  cumulative_MRL_change  \
0                                        NaN                    4.0
1                                        NaN                    4.0
2                                        NaN                    4.0
3                                        NaN                   21.0
4                                        NaN                   24.0

   7_day_rolling_avg_MRL_change  30_day_rolling_avg_MRL_change  \
0                           NaN                            NaN
1                           NaN                            NaN
2                           NaN                            NaN
3                           NaN                            NaN
4                           NaN                            NaN

   cumulative_military auto_change  7_day_rolling_avg_military auto_change  \
0                            100.0                                     NaN
1                            130.0                                     NaN
2                            130.0                                     NaN
3                            291.0                                     NaN
4                            305.0                                     NaN

   30_day_rolling_avg_military auto_change  cumulative_fuel tank_change  \
0                                      NaN                         60.0
1                                      NaN                         60.0
2                                      NaN                         60.0
3                                      NaN                         60.0
4                                      NaN                         60.0

   7_day_rolling_avg_fuel tank_change  30_day_rolling_avg_fuel tank_change
0                                 NaN                                  NaN
1                                 NaN                                  NaN
2                                 NaN                                  NaN
3                                 NaN                                  NaN
4                                 NaN                                  NaN

[5 rows x 60 columns]

# 7. Standardizing and simplifying column names

### 7.1 New Column Names (5 changes)

In [18]:
# Standardizing and simplifying column names
merged_data = merged_data.rename(columns={
    'day_x': 'day_count',
    'personnel': 'personnel_count',
    'personnel*': 'personnel_estimate',
    'POW': 'prisoners_of_war',
    'day_y': 'day_of_week_number'
})

# Display the updated DataFrame
print(merged_data.head())

        date  day_count  personnel_count personnel_estimate  prisoners_of_war  \
0 2022-02-25          2             2800              about               0.0
1 2022-02-26          3             4300              about               0.0
2 2022-02-27          4             4500              about               0.0
3 2022-02-28          5             5300              about               0.0
4 2022-03-01          6             5710              about             200.0

   daily_personnel_change  day_of_week_number  aircraft  helicopter   tank  \
0                    2800                 2.0      10.0         7.0   80.0
1                    1500                 3.0      27.0        26.0  146.0
2                     200                 4.0      27.0        26.0  150.0
3                     800                 5.0      29.0        29.0  150.0
4                     410                 6.0      29.0        29.0  198.0

   ...  30_day_rolling_avg_field artillery_change  cumulative_MRL_change  \
0  ...                                        NaN                    4.0
1  ...                                        NaN                    4.0
2  ...                                        NaN                    4.0
3  ...                                        NaN                   21.0
4  ...                                        NaN                   24.0

   7_day_rolling_avg_MRL_change  30_day_rolling_avg_MRL_change  \
0                           NaN                            NaN
1                           NaN                            NaN
2                           NaN                            NaN
3                           NaN                            NaN
4                           NaN                            NaN

   cumulative_military auto_change  7_day_rolling_avg_military auto_change  \
0                            100.0                                     NaN
1                            130.0                                     NaN
2                            130.0                                     NaN
3                            291.0                                     NaN
4                            305.0                                     NaN

   30_day_rolling_avg_military auto_change  cumulative_fuel tank_change  \
0                                      NaN                         60.0
1                                      NaN                         60.0
2                                      NaN                         60.0
3                                      NaN                         60.0
4                                      NaN                         60.0

   7_day_rolling_avg_fuel tank_change  30_day_rolling_avg_fuel tank_change
0                                 NaN                                  NaN
1                                 NaN                                  NaN
2                                 NaN                                  NaN
3                                 NaN                                  NaN
4                                 NaN                                  NaN

[5 rows x 60 columns]

### 7.2 New List of Columns after changes

In [19]:
# Create a DataFrame for the columns with their respective numbers
columns_df = pd.DataFrame({
    'Column Number': range(1, len(merged_data.columns) + 1),
    'Column Name': merged_data.columns
})

# Display the DataFrame
columns_df

    Column Number                                Column Name
0               1                                       date
1               2                                  day_count
2               3                            personnel_count
3               4                         personnel_estimate
4               5                           prisoners_of_war
5               6                     daily_personnel_change
6               7                         day_of_week_number
7               8                                   aircraft
8               9                                 helicopter
9              10                                       tank
10             11                                        APC
11             12                            field artillery
12             13                                        MRL
13             14                              military auto
14             15                                  fuel tank
15             16                                      drone
16             17                                 naval ship
17             18                      anti-aircraft warfare
18             19                          special equipment
19             20                         mobile SRBM system
20             21                  greatest losses direction
21             22                    vehicles and fuel tanks
22             23                            cruise missiles
23             24                                 submarines
24             25                      daily_aircraft_change
25             26                    daily_helicopter_change
26             27                          daily_tank_change
27             28                           daily_APC_change
28             29               daily_field artillery_change
29             30                           daily_MRL_change
30             31                 daily_military auto_change
31             32                     daily_fuel tank_change
32             33                                       week
33             34                                      month
34             35                                       year
35             36                                day_of_week
36             37                 cumulative_aircraft_change
37             38          7_day_rolling_avg_aircraft_change
38             39         30_day_rolling_avg_aircraft_change
39             40               cumulative_helicopter_change
40             41        7_day_rolling_avg_helicopter_change
41             42       30_day_rolling_avg_helicopter_change
42             43                     cumulative_tank_change
43             44              7_day_rolling_avg_tank_change
44             45             30_day_rolling_avg_tank_change
45             46                      cumulative_APC_change
46             47               7_day_rolling_avg_APC_change
47             48              30_day_rolling_avg_APC_change
48             49          cumulative_field artillery_change
49             50   7_day_rolling_avg_field artillery_change
50             51  30_day_rolling_avg_field artillery_change
51             52                      cumulative_MRL_change
52             53               7_day_rolling_avg_MRL_change
53             54              30_day_rolling_avg_MRL_change
54             55            cumulative_military auto_change
55             56     7_day_rolling_avg_military auto_change
56             57    30_day_rolling_avg_military auto_change
57             58                cumulative_fuel tank_change
58             59         7_day_rolling_avg_fuel tank_change
59             60        30_day_rolling_avg_fuel tank_change

In [20]:
# Display summary statistics for the merged_data dataset
print(merged_data.describe())

                                date    day_count  personnel_count  \
count                           1110  1110.000000      1110.000000
mean   2023-08-28 11:32:45.405405440   551.481081    316106.716216
min              2022-02-25 00:00:00     2.000000      2800.000000
25%              2022-11-28 06:00:00   278.250000     88020.000000
50%              2023-08-31 12:00:00   554.500000    263255.000000
75%              2024-05-29 18:00:00   826.750000    505970.000000
max              2025-02-16 00:00:00  1089.000000    858390.000000
std                              NaN   315.073706    246442.527563

       prisoners_of_war  daily_personnel_change  day_of_week_number  \
count       1110.000000             1110.000000         1088.000000
mean          21.581982              796.612613          540.822610
min            0.000000                0.000000            2.000000
25%            0.000000              470.000000          272.750000
50%            0.000000              750.000000          543.500000
75%            0.000000             1140.000000          812.250000
max          496.000000             3160.000000         1067.000000
std           93.971304              448.649730          309.103084

          aircraft   helicopter         tank           APC  ...  \
count  1088.000000  1088.000000  1088.000000   1088.000000  ...
mean    294.034007   274.317096  4813.412684   9513.055147  ...
min      -1.000000     0.000000    -5.000000    -25.000000  ...
25%     276.750000   257.750000  2710.000000   5519.000000  ...
50%     315.000000   311.000000  4213.500000   8196.500000  ...
75%     348.000000   325.000000  7280.500000  13995.000000  ...
max     369.000000   331.000000  9859.000000  20545.000000  ...
std      78.997163    75.393342  2813.570211   5455.779745  ...

       30_day_rolling_avg_field artillery_change  cumulative_MRL_change  \
count                                1059.000000            1088.000000
mean                                   21.299119             725.458640
min                                     2.766667               4.000000
25%                                     7.450000             395.000000
50%                                    21.333333             719.000000
75%                                    31.866667            1078.000000
max                                    52.266667            1283.000000
std                                    14.129442             380.641134

       7_day_rolling_avg_MRL_change  30_day_rolling_avg_MRL_change  \
count                   1082.000000                    1059.000000
mean                       1.172300                       1.158420
min                       -0.285714                       0.033333
25%                        0.571429                       0.766667
50%                        1.000000                       1.066667
75%                        1.571429                       1.533333
max                        6.571429                       3.066667
std                        0.895269                       0.582402

       cumulative_military auto_change  \
count                      1088.000000
mean                         62.580882
min                           0.000000
25%                           0.000000
50%                           0.000000
75%                           0.000000
max                        1701.000000
std                         272.926403

       7_day_rolling_avg_military auto_change  \
count                             1082.000000
mean                                -0.173092
min                               -243.000000
25%                                  0.000000
50%                                  0.000000
75%                                  0.000000
max                                 53.428571
std                                 19.986533

       30_day_rolling_avg_military auto_change  cumulative_fuel tank_change  \
count                              1059.000000                  1088.000000
mean                                 -0.547781                     4.141544
min                                 -56.700000                     0.000000
25%                                   0.000000                     0.000000
50%                                   0.000000                     0.000000
75%                                   0.000000                     0.000000
max                                  37.700000                    76.000000
std                                   9.420450                    16.539440

       7_day_rolling_avg_fuel tank_change  30_day_rolling_avg_fuel tank_change
count                         1082.000000                          1059.000000
mean                            -0.047531                            -0.056154
min                            -10.857143                            -2.533333
25%                              0.000000                             0.000000
50%                              0.000000                             0.000000
75%                              0.000000                             0.000000
max                              8.571429                             2.433333
std                              0.921756                             0.436978

[8 rows x 57 columns]

In [21]:
# Get the current columns of the merged_data DataFrame
current_columns = merged_data.columns

# Get the previous list of columns from columns_df
columns = columns_df['Column Name'].tolist()

# Find the missing columns by comparing with the previous list of columns
missing_columns = set(columns) - set(current_columns)

# Print the number of current columns and the missing columns
print(f"Number of current columns: {len(current_columns)}")
print(f"Missing columns: {missing_columns}")

Number of current columns: 60
Missing columns: set()

In [22]:
# Check for duplicate column names
duplicate_columns = merged_data.columns[merged_data.columns.duplicated()].unique()
print(f"Duplicate columns: {duplicate_columns}")

Duplicate columns: Index([], dtype='object')

In [23]:
# Standardize column names: lowercase and replace spaces with underscores
merged_data.columns = [col.strip().lower().replace(' ', '_') for col in merged_data.columns]

# Convert 'date' to datetime
merged_data['date'] = pd.to_datetime(merged_data['date'])

# Identify numeric columns using select_dtypes
numeric_columns = merged_data.select_dtypes(include=[np.number]).columns.tolist()
# Example output from your summary: 
# ['day_count', 'personnel_count', 'prisoners_of_war', 'daily_personnel_change', 
#  'day_of_week_number', 'sales', 'other_numeric_columns'...]

# Fill missing values in numeric columns with the mean
merged_data[numeric_columns] = merged_data[numeric_columns].fillna(merged_data[numeric_columns].mean(numeric_only=True))

# Identify non-numeric columns
non_numeric_columns = merged_data.select_dtypes(exclude=[np.number]).columns.tolist()

# Fill missing values in non-numeric columns with a default value, e.g., 'Unknown'
merged_data[non_numeric_columns] = merged_data[non_numeric_columns].fillna('Unknown')

# Remove duplicate rows
merged_data = merged_data.drop_duplicates()

# Display the cleaned DataFrame
print(merged_data.head())

        date  day_count  personnel_count personnel_estimate  prisoners_of_war  \
0 2022-02-25          2             2800              about               0.0
1 2022-02-26          3             4300              about               0.0
2 2022-02-27          4             4500              about               0.0
3 2022-02-28          5             5300              about               0.0
4 2022-03-01          6             5710              about             200.0

   daily_personnel_change  day_of_week_number  aircraft  helicopter   tank  \
0                    2800                 2.0      10.0         7.0   80.0
1                    1500                 3.0      27.0        26.0  146.0
2                     200                 4.0      27.0        26.0  150.0
3                     800                 5.0      29.0        29.0  150.0
4                     410                 6.0      29.0        29.0  198.0

   ...  30_day_rolling_avg_field_artillery_change  cumulative_mrl_change  \
0  ...                                  21.299119                    4.0
1  ...                                  21.299119                    4.0
2  ...                                  21.299119                    4.0
3  ...                                  21.299119                   21.0
4  ...                                  21.299119                   24.0

   7_day_rolling_avg_mrl_change  30_day_rolling_avg_mrl_change  \
0                        1.1723                        1.15842
1                        1.1723                        1.15842
2                        1.1723                        1.15842
3                        1.1723                        1.15842
4                        1.1723                        1.15842

   cumulative_military_auto_change  7_day_rolling_avg_military_auto_change  \
0                            100.0                               -0.173092
1                            130.0                               -0.173092
2                            130.0                               -0.173092
3                            291.0                               -0.173092
4                            305.0                               -0.173092

   30_day_rolling_avg_military_auto_change  cumulative_fuel_tank_change  \
0                                -0.547781                         60.0
1                                -0.547781                         60.0
2                                -0.547781                         60.0
3                                -0.547781                         60.0
4                                -0.547781                         60.0

   7_day_rolling_avg_fuel_tank_change  30_day_rolling_avg_fuel_tank_change
0                           -0.047531                            -0.056154
1                           -0.047531                            -0.056154
2                           -0.047531                            -0.056154
3                           -0.047531                            -0.056154
4                           -0.047531                            -0.056154

[5 rows x 60 columns]

In [24]:
# Display the first 10 rows of the merged_data DataFrame
print("First 10 rows of the merged_data DataFrame:")
print(merged_data.head(10))

# Display the last 10 rows of the merged_data DataFrame
print("Last 10 rows of the merged_data DataFrame:")
print(merged_data.tail(10))

First 10 rows of the merged_data DataFrame:
        date  day_count  personnel_count personnel_estimate  prisoners_of_war  \
0 2022-02-25          2             2800              about               0.0
1 2022-02-26          3             4300              about               0.0
2 2022-02-27          4             4500              about               0.0
3 2022-02-28          5             5300              about               0.0
4 2022-03-01          6             5710              about             200.0
5 2022-03-02          7             5840              about             200.0
6 2022-03-03          8             9000              about             200.0
7 2022-03-04          9             9166              about             200.0
8 2022-03-05         10            10000              about             216.0
9 2022-03-06         11            11000              about             232.0

   daily_personnel_change  day_of_week_number  aircraft  helicopter   tank  \
0                    2800                 2.0      10.0         7.0   80.0
1                    1500                 3.0      27.0        26.0  146.0
2                     200                 4.0      27.0        26.0  150.0
3                     800                 5.0      29.0        29.0  150.0
4                     410                 6.0      29.0        29.0  198.0
5                     130                 7.0      30.0        31.0  211.0
6                    3160                 8.0      30.0        31.0  217.0
7                     166                 9.0      33.0        37.0  251.0
8                     834                10.0      39.0        40.0  269.0
9                    1000                11.0      44.0        48.0  285.0

   ...  30_day_rolling_avg_field_artillery_change  cumulative_mrl_change  \
0  ...                                  21.299119                    4.0
1  ...                                  21.299119                    4.0
2  ...                                  21.299119                    4.0
3  ...                                  21.299119                   21.0
4  ...                                  21.299119                   24.0
5  ...                                  21.299119                   40.0
6  ...                                  21.299119                   42.0
7  ...                                  21.299119                   50.0
8  ...                                  21.299119                   50.0
9  ...                                  21.299119                   50.0

   7_day_rolling_avg_mrl_change  30_day_rolling_avg_mrl_change  \
0                      1.172300                        1.15842
1                      1.172300                        1.15842
2                      1.172300                        1.15842
3                      1.172300                        1.15842
4                      1.172300                        1.15842
5                      1.172300                        1.15842
6                      6.000000                        1.15842
7                      6.571429                        1.15842
8                      6.571429                        1.15842
9                      6.571429                        1.15842

   cumulative_military_auto_change  7_day_rolling_avg_military_auto_change  \
0                            100.0                               -0.173092
1                            130.0                               -0.173092
2                            130.0                               -0.173092
3                            291.0                               -0.173092
4                            305.0                               -0.173092
5                            355.0                               -0.173092
6                            374.0                               53.428571
7                            404.0                               43.428571
8                            409.0                               39.857143
9                            447.0                               45.285714

   30_day_rolling_avg_military_auto_change  cumulative_fuel_tank_change  \
0                                -0.547781                         60.0
1                                -0.547781                         60.0
2                                -0.547781                         60.0
3                                -0.547781                         60.0
4                                -0.547781                         60.0
5                                -0.547781                         60.0
6                                -0.547781                         60.0
7                                -0.547781                         60.0
8                                -0.547781                         60.0
9                                -0.547781                         60.0

   7_day_rolling_avg_fuel_tank_change  30_day_rolling_avg_fuel_tank_change
0                           -0.047531                            -0.056154
1                           -0.047531                            -0.056154
2                           -0.047531                            -0.056154
3                           -0.047531                            -0.056154
4                           -0.047531                            -0.056154
5                           -0.047531                            -0.056154
6                            8.571429                            -0.056154
7                            0.000000                            -0.056154
8                            0.000000                            -0.056154
9                            0.000000                            -0.056154

[10 rows x 60 columns]
Last 10 rows of the merged_data DataFrame:
           date  day_count  personnel_count personnel_estimate  \
1100 2025-02-07       1080           846650              about
1101 2025-02-08       1081           847860              about
1102 2025-02-09       1082           849320              about
1103 2025-02-10       1083           850490              about
1104 2025-02-11       1084           851880              about
1105 2025-02-12       1085           853030              about
1106 2025-02-13       1086           854280              about
1107 2025-02-14       1087           855480              about
1108 2025-02-15       1088           856660              about
1109 2025-02-16       1089           858390              about

      prisoners_of_war  daily_personnel_change  day_of_week_number  \
1100               0.0                    1340           540.82261
1101               0.0                    1210           540.82261
1102               0.0                    1460           540.82261
1103               0.0                    1170           540.82261
1104               0.0                    1390           540.82261
1105               0.0                    1150           540.82261
1106               0.0                    1250           540.82261
1107               0.0                    1200           540.82261
1108               0.0                    1180           540.82261
1109               0.0                    1730           540.82261

        aircraft  helicopter         tank  ...  \
1100  294.034007  274.317096  4813.412684  ...
1101  294.034007  274.317096  4813.412684  ...
1102  294.034007  274.317096  4813.412684  ...
1103  294.034007  274.317096  4813.412684  ...
1104  294.034007  274.317096  4813.412684  ...
1105  294.034007  274.317096  4813.412684  ...
1106  294.034007  274.317096  4813.412684  ...
1107  294.034007  274.317096  4813.412684  ...
1108  294.034007  274.317096  4813.412684  ...
1109  294.034007  274.317096  4813.412684  ...

      30_day_rolling_avg_field_artillery_change  cumulative_mrl_change  \
1100                                  21.299119              725.45864
1101                                  21.299119              725.45864
1102                                  21.299119              725.45864
1103                                  21.299119              725.45864
1104                                  21.299119              725.45864
1105                                  21.299119              725.45864
1106                                  21.299119              725.45864
1107                                  21.299119              725.45864
1108                                  21.299119              725.45864
1109                                  21.299119              725.45864

      7_day_rolling_avg_mrl_change  30_day_rolling_avg_mrl_change  \
1100                        1.1723                        1.15842
1101                        1.1723                        1.15842
1102                        1.1723                        1.15842
1103                        1.1723                        1.15842
1104                        1.1723                        1.15842
1105                        1.1723                        1.15842
1106                        1.1723                        1.15842
1107                        1.1723                        1.15842
1108                        1.1723                        1.15842
1109                        1.1723                        1.15842

      cumulative_military_auto_change  7_day_rolling_avg_military_auto_change  \
1100                        62.580882                               -0.173092
1101                        62.580882                               -0.173092
1102                        62.580882                               -0.173092
1103                        62.580882                               -0.173092
1104                        62.580882                               -0.173092
1105                        62.580882                               -0.173092
1106                        62.580882                               -0.173092
1107                        62.580882                               -0.173092
1108                        62.580882                               -0.173092
1109                        62.580882                               -0.173092

      30_day_rolling_avg_military_auto_change  cumulative_fuel_tank_change  \
1100                                -0.547781                     4.141544
1101                                -0.547781                     4.141544
1102                                -0.547781                     4.141544
1103                                -0.547781                     4.141544
1104                                -0.547781                     4.141544
1105                                -0.547781                     4.141544
1106                                -0.547781                     4.141544
1107                                -0.547781                     4.141544
1108                                -0.547781                     4.141544
1109                                -0.547781                     4.141544

      7_day_rolling_avg_fuel_tank_change  30_day_rolling_avg_fuel_tank_change
1100                           -0.047531                            -0.056154
1101                           -0.047531                            -0.056154
1102                           -0.047531                            -0.056154
1103                           -0.047531                            -0.056154
1104                           -0.047531                            -0.056154
1105                           -0.047531                            -0.056154
1106                           -0.047531                            -0.056154
1107                           -0.047531                            -0.056154
1108                           -0.047531                            -0.056154
1109                           -0.047531                            -0.056154

[10 rows x 60 columns]

In [25]:
# Define the path to save the Excel file
save_path = r'C:\Users\khaie\Desktop\2022 Russia Ukraine War\merged_data.xlsx'

# Save the merged_data DataFrame to an Excel file
merged_data.to_excel(save_path, index=False)

print(f"Data saved to {save_path} successfully.")

Data saved to C:\Users\khaie\Desktop\2022 Russia Ukraine War\merged_data.xlsx successfully.

In [26]:
# Save the merged_data DataFrame to an Excel file
merged_data.to_excel('output.xlsx', index=False)

In [27]:
# List of unique greatest losses directions
unique_directions = merged_data['greatest_losses_direction'].unique()

# Assign coordinates to each direction (example coordinates)
coordinates = {
    'North': (50.4501, 30.5234),
    'South': (46.4825, 30.7233),
    'East': (48.3794, 31.1656),
    'West': (49.9935, 36.2304),
    'Unknown': (0.0, 0.0)  # Default coordinates for unknown directions
}

# Create a DataFrame with directions and their coordinates
directions_df = pd.DataFrame({
    'Direction': unique_directions,
    'Latitude': [coordinates.get(direction, (0.0, 0.0))[0] for direction in unique_directions],
    'Longitude': [coordinates.get(direction, (0.0, 0.0))[1] for direction in unique_directions]
})

# Display the DataFrame
print(directions_df)

                         Direction  Latitude  Longitude
0                                0       0.0        0.0
1                  Sievierodonetsk       0.0        0.0
2              Kurakhove and Izyum       0.0        0.0
3           Zaporizhzhia and Izyum       0.0        0.0
4                            Izyum       0.0        0.0
..                             ...       ...        ...
61     Avdiivka, Bakhmut and Lyman       0.0        0.0
62     Bakhmut, Lyman and Avdiivka       0.0        0.0
63               Lyman and Bakhmut       0.0        0.0
64  Kupiansk, Avdiivka and Bakhmut       0.0        0.0
65                         Unknown       0.0        0.0

[66 rows x 3 columns]

In [28]:
# Get all unique greatest losses directions
unique_greatest_losses_directions = merged_data['greatest_losses_direction'].unique()

# Display the unique greatest losses directions
print("Unique Greatest Losses Directions:")
print(unique_greatest_losses_directions)

Unique Greatest Losses Directions:
[0 'Sievierodonetsk' 'Kurakhove and Izyum' 'Zaporizhzhia and Izyum'
 'Izyum' 'Izyum, Novopavlivsk' 'Popasna' 'Lyman and Kurakhove'
 'Slobozhanskyi' 'Novopavlivsk' 'Avdiivka'
 'Novopavlivsk, Kurakhove and Sievierodonetsk' 'Kurakhove'
 'Kurakhove and Avdiivka' 'Bakhmut and Zaporizhzhia'
 'Lyman and Zaporizhzhia' 'Sloviansk, Kryvyi Rih and Zaporizhzhia'
 'Bakhmut' 'Lyman' 'Avdiivka and Kryvyi Rih' 'Zaporizhzhia'
 'Kryvyi Rih and Zaporizhzhia' 'Kryvyi Rih and Bakhmut' 'Sloviansk'
 'Kharkiv and Bakhmut' 'Sievierodonetsk and Bakhmut'
 'Bakhmut and Sievierodonetsk' 'Sloviansk, Bakhmut and Kryvyi Rih'
 'Bakhmut and Avdiivka' 'Sloviansk, Bakhmut and Avdiivka'
 'Sloviansk and Bakhmut' 'Bakhmut and Kurakhove' 'Kramatorsk and Bakhmut'
 'Sloviansk and Donetsk' 'Avdiivka and Bakhmut' 'Kramatorsk' 'Mykolaiv'
 'Kramatorsk, Kryvyi Rih and Bakhmut' 'Kryvyi Rih' 'Donetsk'
 'Donetsk and Kryvyi Rih' 'Bakhmut and Kryvyi Rih' 'Bakhmut and Donetsk'
 'Kharkiv and Donetsk' 'Donetsk and Mykolaiv' 'Donetsk and Kurakhove'
 'Kryvyi Rih and Donetsk' 'Kryvyi Rih and Mykolaiv'
 'Kramatorsk and Donetsk' 'Kramatorsk and Kryvyi Rih'
 'Kramatorsk, Avdiivka and Kryvyi Rih' 'Donetsk, Bakhmut and Kramatorsk'
 'Kryvyi Rih and Kramatorsk' 'Bakhmut, Avdiivka and Kramatorsk'
 'Bakhmut and Kramatorsk' 'Donetsk and Lyman' 'Avdiivka and Lyman'
 'Lyman and Avdiivka' 'Lyman, Bakhmut and Avdiivka'
 'Lyman, Avdiivka and Bakhmut' 'Bakhmut and Lyman'
 'Avdiivka, Bakhmut and Lyman' 'Bakhmut, Lyman and Avdiivka'
 'Lyman and Bakhmut' 'Kupiansk, Avdiivka and Bakhmut' 'Unknown']

In [30]:
# Define the coordinates for each location
location_coordinates = {
    'Sievierodonetsk': (48.9481, 38.4911),
    'Kurakhove and Izyum': (48.0486, 37.2828),
    'Zaporizhzhia and Izyum': (47.8388, 35.1396),
    'Izyum': (49.2083, 37.2481),
    'Izyum, Novopavlivsk': (49.2083, 37.2481),
    'Popasna': (48.6344, 38.3778),
    'Lyman and Kurakhove': (48.9894, 37.8028),
    'Slobozhanskyi': (50.0000, 36.2500),
    'Novopavlivsk': (47.8333, 37.6667),
    'Avdiivka': (48.1408, 37.7414),
    'Novopavlivsk, Kurakhove and Sievierodonetsk': (47.8333, 37.6667),
    'Kurakhove': (47.9833, 37.2833),
    'Kurakhove and Avdiivka': (47.9833, 37.2833),
    'Bakhmut and Zaporizhzhia': (48.5882, 37.9992),
    'Lyman and Zaporizhzhia': (48.9894, 37.8028),
    'Sloviansk, Kryvyi Rih and Zaporizhzhia': (48.8667, 37.6167),
    'Bakhmut': (48.5882, 37.9992),
    'Lyman': (48.9894, 37.8028),
    'Avdiivka and Kryvyi Rih': (48.1408, 37.7414),
    'Zaporizhzhia': (47.8388, 35.1396),
    'Kryvyi Rih and Zaporizhzhia': (47.9105, 33.3918),
    'Kryvyi Rih and Bakhmut': (47.9105, 33.3918),
    'Sloviansk': (48.8667, 37.6167),
    'Kharkiv and Bakhmut': (49.9935, 36.2304),
    'Sievierodonetsk and Bakhmut': (48.9481, 38.4911),
    'Bakhmut and Sievierodonetsk': (48.5882, 37.9992),
    'Sloviansk, Bakhmut and Kryvyi Rih': (48.8667, 37.6167),
    'Bakhmut and Avdiivka': (48.5882, 37.9992),
    'Sloviansk, Bakhmut and Avdiivka': (48.8667, 37.6167),
    'Sloviansk and Bakhmut': (48.8667, 37.6167),
    'Bakhmut and Kurakhove': (48.5882, 37.9992),
    'Kramatorsk and Bakhmut': (48.7384, 37.5842),
    'Sloviansk and Donetsk': (48.8667, 37.6167),
    'Avdiivka and Bakhmut': (48.1408, 37.7414),
    'Kramatorsk': (48.7384, 37.5842),
    'Mykolaiv': (46.9750, 31.9946),
    'Kramatorsk, Kryvyi Rih and Bakhmut': (48.7384, 37.5842),
    'Kryvyi Rih': (47.9105, 33.3918),
    'Donetsk': (48.0159, 37.8028),
    'Donetsk and Kryvyi Rih': (48.0159, 37.8028),
    'Bakhmut and Kryvyi Rih': (48.5882, 37.9992),
    'Bakhmut and Donetsk': (48.5882, 37.9992),
    'Kharkiv and Donetsk': (49.9935, 36.2304),
    'Donetsk and Mykolaiv': (48.0159, 37.8028),
    'Donetsk and Kurakhove': (48.0159, 37.8028),
    'Kryvyi Rih and Donetsk': (47.9105, 33.3918),
    'Kryvyi Rih and Mykolaiv': (47.9105, 33.3918),
    'Kramatorsk and Donetsk': (48.7384, 37.5842),
    'Kramatorsk and Kryvyi Rih': (48.7384, 37.5842),
    'Kramatorsk, Avdiivka and Kryvyi Rih': (48.7384, 37.5842),
    'Donetsk, Bakhmut and Kramatorsk': (48.0159, 37.8028),
    'Kryvyi Rih and Kramatorsk': (47.9105, 33.3918),
    'Bakhmut, Avdiivka and Kramatorsk': (48.5882, 37.9992),
    'Bakhmut and Kramatorsk': (48.5882, 37.9992),
    'Donetsk and Lyman': (48.0159, 37.8028),
    'Avdiivka and Lyman': (48.1408, 37.7414),
    'Lyman and Avdiivka': (48.9894, 37.8028),
    'Lyman, Bakhmut and Avdiivka': (48.9894, 37.8028),
    'Lyman, Avdiivka and Bakhmut': (48.9894, 37.8028),
    'Bakhmut and Lyman': (48.5882, 37.9992),
    'Avdiivka, Bakhmut and Lyman': (48.1408, 37.7414),
    'Bakhmut, Lyman and Avdiivka': (48.5882, 37.9992),
    'Lyman and Bakhmut': (48.9894, 37.8028),
    'Kupiansk, Avdiivka and Bakhmut': (49.7210, 37.5986)
}

# Update the directions_df DataFrame with the coordinates
directions_df['Latitude'] = directions_df['Direction'].map(lambda x: location_coordinates.get(x, (0.0, 0.0))[0])
directions_df['Longitude'] = directions_df['Direction'].map(lambda x: location_coordinates.get(x, (0.0, 0.0))[1])

# Display the updated DataFrame
print(directions_df)

                         Direction  Latitude  Longitude
0                                0    0.0000     0.0000
1                  Sievierodonetsk   48.9481    38.4911
2              Kurakhove and Izyum   48.0486    37.2828
3           Zaporizhzhia and Izyum   47.8388    35.1396
4                            Izyum   49.2083    37.2481
..                             ...       ...        ...
61     Avdiivka, Bakhmut and Lyman   48.1408    37.7414
62     Bakhmut, Lyman and Avdiivka   48.5882    37.9992
63               Lyman and Bakhmut   48.9894    37.8028
64  Kupiansk, Avdiivka and Bakhmut   49.7210    37.5986
65                         Unknown    0.0000     0.0000

[66 rows x 3 columns]